<footer class="footer">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <mat-form-field class="form-group">
          <textarea matInput placeholder="Something to do today..."
          (keyup.enter)="onTodoAdd()"
                     [(ngModel)]="todo"></textarea>
        </mat-form-field>
      </div>
    </div>

    <div class="col-auto">
      <div class="form-group">
        <button mat-raised-button color="accent" (click)="onTodoAdd()">
          Add
        </button>
      </div>
    </div>
  </div>
</footer>
